<a href="https://colab.research.google.com/github/V436/V436/blob/main/Copy_of_pandas_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
data={"Name": np.array(["madhu","kiran","supriya","sowmithry"]),"marks":np.array([23,24,25,24])}
df=pd.DataFrame(data)
print(df)

        Name  marks
0      madhu     23
1      kiran     24
2    supriya     25
3  sowmithry     24

In [ ]:

import pandas as pd
import numpy as np
data={"name":np.array(["madhu","kiran","supriya","sowmithry"]),"marks":np.array([23,24,25,24])}
df=pd.DataFrame(data,index=[1,2,3,4])
print(df)
df=df.rename(columns={"name":"student_name","marks":"student_marks"})
print(df)

        name  marks
1      madhu     23
2      kiran     24
3    supriya     25
4  sowmithry     24
  student_name  student_marks
1        madhu             23
2        kiran             24
3      supriya             25
4    sowmithry             24

In [ ]:
import pandas as pd
import numpy as np
dates=pd.date_range("20220721",periods=10)
df1=pd.DataFrame(np.random.randn(10,4), index=dates,columns=list('ZYXW'))
print(df1)
df1.iloc[1][1]=np.nan
df1.iloc[2][2]=np.nan
df1.iloc[3][3]=np.nan
df1.iloc[4][3]=np.nan
df1.iloc[5][2]=np.nan
print(df1)
print(df1.isnull())

                   Z         Y         X         W
2022-07-21  3.394474 -0.163551 -0.961598 -0.404164
2022-07-22  0.456023  0.790044 -0.217138  0.411828
2022-07-23 -0.694562 -1.332013 -0.318607  0.940351
2022-07-24 -0.789716 -1.697815 -0.536002  0.711056
2022-07-25  0.685398 -0.889666 -1.613948 -0.004405
2022-07-26  0.287037 -1.993365 -2.242446 -0.043502
2022-07-27  0.387028  0.557056 -1.014001  0.108129
2022-07-28  0.211623 -0.795987  0.168676 -0.878062
2022-07-29  1.250938 -0.762945 -1.141581  0.499355
2022-07-30  1.104587 -0.287212 -0.069654  0.826179
                   Z         Y         X         W
2022-07-21  3.394474 -0.163551 -0.961598 -0.404164
2022-07-22  0.456023       NaN -0.217138  0.411828
2022-07-23 -0.694562 -1.332013       NaN  0.940351
2022-07-24 -0.789716 -1.697815 -0.536002       NaN
2022-07-25  0.685398 -0.889666 -1.613948       NaN
2022-07-26  0.287037 -1.993365       NaN -0.043502
2022-07-27  0.387028  0.557056 -1.014001  0.108129
2022-07-28  0.211623 -0.795987  0.168676 -0.878062
2022-07-29  1.250938 -0.762945 -1.141581  0.499355
2022-07-30  1.104587 -0.287212 -0.069654  0.826179
                Z      Y      X      W
2022-07-21  False  False  False  False
2022-07-22  False   True  False  False
2022-07-23  False  False   True  False
2022-07-24  False  False  False   True
2022-07-25  False  False  False   True
2022-07-26  False  False   True  False
2022-07-27  False  False  False  False
2022-07-28  False  False  False  False
2022-07-29  False  False  False  False
2022-07-30  False  False  False  False

In [ ]:
a=np.array(["madhu","kiran","supriya","sowmithry"])
b=np.array([23,24,25,24])
data1={"name":a,"marks":b}
df1=pd.DataFrame(data1)
print(df1)
df1["rollno"]=[511,126,486,302]
print("AFTER ADDING ROLLNO COLUMN TO DATAFRAME")
print(df1)
df1['hobbies']=pd.Series(['designing','cricket','reading',"chess"])
print(df1)
del df1["rollno"]
print(df1)

        name  marks
0      madhu     23
1      kiran     24
2    supriya     25
3  sowmithry     24
AFTER ADDING ROLLNO COLUMN TO DATAFRAME
        name  marks  rollno
0      madhu     23     511
1      kiran     24     126
2    supriya     25     486
3  sowmithry     24     302
        name  marks  rollno    hobbies
0      madhu     23     511  designing
1      kiran     24     126    cricket
2    supriya     25     486    reading
3  sowmithry     24     302      chess
        name  marks    hobbies
0      madhu     23  designing
1      kiran     24    cricket
2    supriya     25    reading
3  sowmithry     24      chess

In [ ]:
import pandas as pd
import numpy as np
data={"Name": np.array(["madhu","kiran","supriya","sowmithry"]),"marks":np.array([23,24,25,24])}
df=pd.DataFrame(data)
data2={"Name": np.array(["madhuri","jyothsna","vennela","bharathi"]),"marks":np.array([20,21,22,21])}
df1=pd.DataFrame(data2)
df1=df1.append(df1)
print(df1)

       Name  marks
0   madhuri     20
1  jyothsna     21
2   vennela     22
3  bharathi     21
0   madhuri     20
1  jyothsna     21
2   vennela     22
3  bharathi     21

In [ ]:
new_data=df1.name.str.split(pat='.',expand=True)
print(new_data)

AttributeError: ignored

In [ ]:
a=np.array(["madhu","kiran","supriya","sowmithry"])
b=np.array([23,24,25,24])
data1={"name":a,"marks":b}
df1=pd.DataFrame(data1)
print(df1)
print(df[0:2])
print(df1["name"])
print(df1["name"][2])
print(df1["name"][-2:])
print(df1.iloc[1][0])
print(df1.loc[2][1])

        name  marks
0      madhu     23
1      kiran     24
2    supriya     25
3  sowmithry     24
    Name  marks
0  madhu     23
1  kiran     24
0        madhu
1        kiran
2      supriya
3    sowmithry
Name: name, dtype: object
supriya
2      supriya
3    sowmithry
Name: name, dtype: object
kiran
25

In [ ]:
a=np.array(["madhu","kiran","supriya","sowmithry","madhuri","jyothsna","vennela","bharathi","sundeep"])
b=np.array([23,24,25,24,20,21,22,21,23])
c=np.array([511,126,486,302,521,501,428,401,131])
d=np.array([8.1,8.2,8.3,8.4,8.5,8.6,7.9,7.8,7.6])
data1={"name":a,"marks":b,"cgpa":d,"rollno":c}
df1=pd.DataFrame(data1)
print(df1)
print("\n\n---using describe function---\n\n")
print(df1.describe())

        name  marks  cgpa  rollno
0      madhu     23   8.1     511
1      kiran     24   8.2     126
2    supriya     25   8.3     486
3  sowmithry     24   8.4     302
4    madhuri     20   8.5     521
5   jyothsna     21   8.6     501
6    vennela     22   7.9     428
7   bharathi     21   7.8     401
8    sundeep     23   7.6     131


---using describe function---


           marks      cgpa      rollno
count   9.000000  9.000000    9.000000
mean   22.555556  8.155556  378.555556
std     1.666667  0.335824  157.419115
min    20.000000  7.600000  126.000000
25%    21.000000  7.900000  302.000000
50%    23.000000  8.200000  428.000000
75%    24.000000  8.400000  501.000000
max    25.000000  8.600000  521.000000

In [ ]:
print("---using Head function---\n\n")
print(df1.head())
print("\n\n---using Head function with specific value---\n\n")
print(df1.head(3))
print("\n\n---using tail function---\n\n")
print("\n\n---using tail function with specific value---\n\n")
print(df1.tail())

---using Head function---


        name  marks  cgpa  rollno
0      madhu     23   8.1     511
1      kiran     24   8.2     126
2    supriya     25   8.3     486
3  sowmithry     24   8.4     302
4    madhuri     20   8.5     521


---using Head function with specific value---


      name  marks  cgpa  rollno
0    madhu     23   8.1     511
1    kiran     24   8.2     126
2  supriya     25   8.3     486


---using tail function---




---using tail function with specific value---


       name  marks  cgpa  rollno
4   madhuri     20   8.5     521
5  jyothsna     21   8.6     501
6   vennela     22   7.9     428
7  bharathi     21   7.8     401
8   sundeep     23   7.6     131